<div class="plangular" ng-controller="PlangularCtrl" ng-switch on="player.playing">
<h1 class="marbo">Plangular</h1>


  
      <div class="player" id="{{track.permalink}}" ng-class="{playing: player.playing}">
        <a href="" class="play btn sq64 center" ng-click="player.play(track)" ng-hide="player.playing"><i class="i-play">play</i></a>
        <a href="" class="pause btn sq64 center" ng-click="player.pause(track)" ng-show="player.playing"><i class="i-pause">pause</i></a>
        <div class="bd posrel">
          <h2 class="artist posrel z128">{{track.user.username}}</h2>
          <h3 class="title posrel z128">{{track.title}}</h3>

          <div class="time-span posabs to0 r0 bo0 l0" ng-switch-when="true" ng-controller="ScrubberCtrl">
            <div class="scrubber" ng-click="seekTo($event)"></div>
            <div class="buffer" style="width: {{currentBufferPercentage}}%"></div>
            <div class="played" style="width: {{currentTimePercentage}}%"></div>
            <p class="time" ng-cloak>{{currentTimeMS | date:'mm:ss'}} | {{durationMS | date:'mm:ss'}}</p>
          </div>
          
        </div>

      </div>
            
  



  
</div>