<!DOCTYPE html>
<html>
<head>
  <title>Plangular</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <script src="dist/plangular.js"></script>
</head>
<body ng-app="app" ng-controller="BodyCtrl">

  <h1>Plangular</h1>

  <div plangular="http://soundcloud.com/mrsjxn/bbb">
    {{loading ? 'loading' : ''}}
    <h3>{{track.user.username}}</h3>
    <h2>{{track.title}}</h2>
    <button ng-click="play()">Play</button>
    <button ng-click="pause()">Pause</button>
    <button ng-click="playPause()">Play/Pause</button>
  </div>

  <div plangular="http://soundcloud.com/jxnblk/let-go">
    <h3>{{track.user.username}}</h3>
    <h2>{{track.title}}</h2>
    <button ng-click="play()">Play</button>
    <button ng-click="pause()">Pause</button>
    <button ng-click="playPause()">Play/Pause</button>
  </div>

  <div plangular="http://soundcloud.com/jxnblk/sets/yello">
    <h3>{{playlist.user.username}} - {{playlist.title}}</h3>
    <button ng-click="playPause(index)">Play/Pause</button>
    <button ng-click="previous()">Previous</button>
    <button ng-click="next()">Next</button>
    <br>
    <code>{{currentTime}} / {{duration || 0}}</code>
    <hr>
    <h4>{{track.user.username}} - {{track.title}}</h4>
    <progress
      ng-click="player.seek($event)"
      ng-value="currentTime / duration || 0">
      {{ currentTime / duration || 0 }}
    </progress>
    <ul>
      <li ng-repeat="track in tracks">
        <button ng-click="playPause($index)">Play</button>
        {{track.user.username}} - {{track.title}}
      </li>
    </ul>
  </div>

<script>
  var app = angular.module('app', ['plangular']);

  app.controller('BodyCtrl', ['$scope', function($scope) {
    //console.log('body control');
  }]);

</script>

</body>
</html>
