<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Plangular</title>
  <meta name="author" content="Jxnblk">
  <meta name="description" content="Angular directive for custom SoundCloud players">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <link rel="stylesheet" href="http://d2v52k3cl9vedd.cloudfront.net/bassdock/1.2.1/bassdock.min.css">
  

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  
    <script src="dist/plangular.js"></script>
  

  <style>
    .bg-dark { background-color:#102630; }
    .button-logo {
      width: 2em;
      height: 2em;
      border-radius: 10000px;
      border-width: 2px;
    }
    .button-logo:hover {
      color: #102630;
      background-color: #ff4136;
      opacity: 0.9;
      box-shadow: 0 0 0 2px rgba(255,65,54,.5);
    }
    .button-logo:before,
    .button-logo:after {
      border-radius: inherit;
    }
    .icon { top: .03125em }
  </style>

</head>
<body class="" ng-app="app">

  <div class="red bg-dark">
    <header class="center px2 py4 red bg-darken-2" plangular="http://soundcloud.com/jxnblk/plangular">
      <button class="h0 h0-responsive center mb2 button button-outline button-logo"
        ng-click="playPause()">
        <svg class="icon geomicon" data-icon="play" viewBox="0 0 32 32" style="top:0.03125em;left:0.125em;fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
      </button>
      <h1 class="h0 h0-responsive caps m0">Plangular</h1>
      <p class="">Angular directive for custom SoundCloud players</p>
      <a href="https://github.com/jxnblk/plangular" class="button button-outline">
        Github
      </a>
    </header>
    <section id="examples" class="container px2 py3">
      
        
<div plangular="http://soundcloud.com/mrsjxn/no-love" class="p2 mb3 flex flex-center bg-darken-2 rounded">
  <button ng-click="playPause()" class="h2 mr2 button button-transparent rounded">
    <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
    <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
  </button>
  <h2 class="h4 caps flex-auto m0">{{track.user.username}} - {{track.title}}</h2>
  <samp class="h6">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
</div>


      
        
<div plangular="http://soundcloud.com/jxnblk/let-go" class="p2 mb3 flex flex-center bg-darken-2 rounded">
  <button ng-click="playPause()" class="h2 mr2 button button-transparent rounded">
    <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
    <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
  </button>
  <div class="flex-auto">
    <h3 class="h4 m0">{{track.user.username}}</h3>
    <h2 class="h4 caps m0">{{track.title}}</h2>
    <progress
      class="progress"
      ng-click="player.seek($event)"
      ng-value="currentTime / duration || 0">
      {{ currentTime / duration || 0 }}
    </progress>
  </div>
</div>


      
        
<div plangular="http://soundcloud.com/jxnblk/sets/yello" class="mb3 bg-darken-2 rounded">
  <div class="p2">
    <div class="flex flex-center">
      <h4 class="m0 flex-auto">{{playlist.user.username}}</h4>
      <samp class="h6">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
    </div>
    <h3 class="h1 caps m0">{{playlist.title}}</h3>
    <div class="flex flex-center">
      <button class="h3 button button-narrow button-transparent" ng-click="previous()">
        <svg class="icon geomicon" data-icon="previous" viewBox="0 0 32 32" style="fill:currentcolor"><path d="M4 4 H8 V14 L28 4 V28 L8 18 V28 H4 z "></path></svg>
      </button>
      <button class="h1 button button-transparent" ng-click="playPause(index)">
        <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
        <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
      </button>
      <button class="h3 button mr2 button-narrow button-transparent" ng-click="next()">
        <svg class="icon geomicon" data-icon="next" viewBox="0 0 32 32" style="fill:currentcolor"><path d="M4 4 L24 14 V4 H28 V28 H24 V18 L4 28 z "></path></svg>
      </button>
      <progress
        class="progress"
        ng-click="player.seek($event)"
        ng-value="currentTime / duration || 0">
        {{ currentTime / duration || 0 }}
      </progress>
    </div>
  </div>
  <ul class="list-reset">
    <li ng-repeat="track in tracks">
      <button
        class="flex flex-center full-width left-align button button-transparent"
        ng-class="{'is-active': player.playing === track.src }"
        ng-click="playPause($index)">
        <span class="flex-auto">
          {{track.user.username}} - {{track.title}}
        </span>
        <span class="h6">
          {{ track.duration / 1000 | hhmmss }}
        </span>
      </button>
    </li>
  </ul>
</div>


      
    </section>
  </div>

  <div class="container px2">

    <div class="py3" ng-non-bindable>
      <div class="display-none">
  <h1>Plangular</h1>
  <p>
  Angular directive for custom SoundCloud players
    <a href="http://jxnblk.com/plangular">jxnblk.com/plangular</a>
  </p>
</div>

<h2 id="getting-started"><a href="#getting-started">Getting Started</a></h2><pre>bower install plangular</pre><h2 id="angular-app"><a href="#angular-app">Angular App</a></h2><p>Include a link to plangular after Angular.</p>
<pre>&lt;script src=<span class="hljs-string">"//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"</span>&gt;<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"js/plangular.min.js"</span>&gt;</span><span class="javascript"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span></span></pre><p><code>CDN link</code></p>
<h2 id="initialize-the-app"><a href="#initialize-the-app">Initialize the app</a></h2><div class="MarkedExample mb2 bg-darken-1 rounded">
  <div class="MarkedExample-rendered p2">
    <body ng-app="plangular">
</body>
  </div>
  <pre class="MarkedExample-code m0 p2 bg-darken-1 rounded-bottom"><span class="hljs-tag">&lt;<span class="hljs-title">body</span> <span class="hljs-attribute">ng-app</span>=<span class="hljs-value">"plangular"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span></pre>
</div>
<p>Or include as a dependency in another app:</p>
<pre><span class="hljs-keyword">var</span> app = angular.module(<span class="hljs-string">'app'</span>, [<span class="hljs-string">'plangular'</span>]);</pre><h2 id="create-a-plangular-directive-instance"><a href="#create-a-plangular-directive-instance">Create a plangular directive instance</a></h2><div class="MarkedExample mb2 bg-darken-1 rounded">
  <div class="MarkedExample-rendered p2">
    <div plangular="http://soundcloud.com/jxnblk/plangular">
</div>
  </div>
  <pre class="MarkedExample-code m0 p2 bg-darken-1 rounded-bottom"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">plangular</span>=<span class="hljs-value">"http://soundcloud.com/jxnblk/plangular"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
</div>
<h2 id="include-track-info"><a href="#include-track-info">Include track info</a></h2><div class="MarkedExample mb2 bg-darken-1 rounded">
  <div class="MarkedExample-rendered p2">
    <div plangular="http://soundcloud.com/jxnblk/plangular">
  <h3>{{track.user.username}} - {{track.title}}</h3>
  <a ng-href="{{track.permalink_url}}">View on SoundCloud</a>
</div>
  </div>
  <pre class="MarkedExample-code m0 p2 bg-darken-1 rounded-bottom"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">plangular</span>=<span class="hljs-value">"http://soundcloud.com/jxnblk/plangular"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">h3</span>&gt;</span>{{track.user.username}} - {{track.title}}<span class="hljs-tag">&lt;/<span class="hljs-title">h3</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">ng-href</span>=<span class="hljs-value">"{{track.permalink_url}}"</span>&gt;</span>View on SoundCloud<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></pre>
</div>
<h2 id="add-player-controls"><a href="#add-player-controls">Add player controls</a></h2><div class="MarkedExample mb2 bg-darken-1 rounded">
  <div class="MarkedExample-rendered p2">
    <button ng-click="playPause()">Play/Pause</button>
  </div>
  <pre class="MarkedExample-code m0 p2 bg-darken-1 rounded-bottom"><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">ng-click</span>=<span class="hljs-value">"playPause()"</span>&gt;</span>Play/Pause<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span></pre>
</div>
<p>Or with separate play/pause controls:</p>
<div class="MarkedExample mb2 bg-darken-1 rounded">
  <div class="MarkedExample-rendered p2">
    <button ng-click="play()">Play</button>
<button ng-click="pause()">Pause</button>
  </div>
  <pre class="MarkedExample-code m0 p2 bg-darken-1 rounded-bottom"><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">ng-click</span>=<span class="hljs-value">"play()"</span>&gt;</span>Play<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">ng-click</span>=<span class="hljs-value">"pause()"</span>&gt;</span>Pause<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span></pre>
</div>
<h2 id="show-current-time-and-duration"><a href="#show-current-time-and-duration">Show current time and duration</a></h2><div class="MarkedExample mb2 bg-darken-1 rounded">
  <div class="MarkedExample-rendered p2">
    <small>{{ currentTime }} | {{ duration }}</small>
  </div>
  <pre class="MarkedExample-code m0 p2 bg-darken-1 rounded-bottom"><span class="hljs-tag">&lt;<span class="hljs-title">small</span>&gt;</span>{{ currentTime }} | {{ duration }}<span class="hljs-tag">&lt;/<span class="hljs-title">small</span>&gt;</span></pre>
</div>
<h2 id="add-a-scrubber-control"><a href="#add-a-scrubber-control">Add a scrubber control</a></h2><h2 id="add-images"><a href="#add-images">Add images</a></h2><h2 id="loading-states"><a href="#loading-states">Loading states</a></h2><h2 id="playlists"><a href="#playlists">Playlists</a></h2><h2 id="previous-next-controls"><a href="#previous-next-controls">Previous/Next controls</a></h2><h3 id="configuration"><a href="#configuration">Configuration</a></h3><hr>
<h3 id="using-the-sound-cloud-api"><a href="#using-the-sound-cloud-api">Using the SoundCloud API</a></h3><p>According to the SoundCloud API terms you must:</p>
<ul>
<li>Credit the user as the creator of the content</li>
<li>Credit SoundCloud as the source</li>
<li>Include a link to the sound on SoundCloud (i.e. a link using <code>track.permalink_url</code>)</li>
</ul>
<p>Read more here: <a href="http://developers.soundcloud.com/docs/api/terms-of-use">http://developers.soundcloud.com/docs/api/terms-of-use</a></p>
<h3 id="troubleshooting"><a href="#troubleshooting">Troubleshooting</a></h3><p>SoundCloud provides an option for users to prevent streaming to third-party apps.
If your sound isn&#39;t playing check the <code>track.streamable</code> variable.
If it&#39;s set to false, there is no way to play that sound with the API.</p>

    </div>

    <footer class="py2 border-top">
      <div class="flex flex-baseline flex-wrap mxn1">
        <a href="//jxnblk.com/plangular" class="button ml1 mr1 button-small button-link">Plangular</a>
        <div class="h6">v3.0.0-beta-1</div>
        <div class="flex-auto"></div>

        <a href="https://github.com/jxnblk/plangular" class="button ml1 mr1 button-small button-link">Github</a>
        <a href="//npmjs.com/package/plangular" class="button ml1 mr1 button-small button-link">NPM</a>
      </div>
    </footer>

  </div>

<script>
  var app = angular.module('app', ['plangular']);
</script>

</body>
</html>
