/* Plangular */

body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea {
  margin: 0;
}

ol, ul {
  padding-left: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

body {
  /* font-family: 'Titillium Web', Helvetica, sans-serif; */
  font-family: 'Source Sans Pro', 'Hevletica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #0c5;
}
a:hover {
  color: #0d5;
}

.wrap { margin-right: auto; margin-left: auto; }

h1, h2, h3 { line-height: 1.25; }
h1, .h1 { font-size: 48px; }
.h1-res { font-size: 24px; }
@media screen and (min-width: 640px) {
  .h1-res { font-size: 48px; }
}
h2, .h2 { font-size: 32px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 20px; }
h5, .h5, h6, .h6, p, .p  { font-size: 16px; }
small, .small { font-size: 12px; }

code, pre, samp, .mono { font-family: 'Source Code Pro', monospace; }

@media screen and (min-width: 640px) {
  .massive { font-size: 80px; }
}

.bold { font-weight: bold; }
.reg  { font-weight: normal; }
.caps { text-transform: uppercase; letter-spacing: .2em; }
.caps-tracked { letter-spacing: .5em; }

.truncate {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.js-truncate {
  white-space: nowrap;
}

.lh1 { line-height: 1; }

.pad1 { padding: 16px; }
.pad2 { padding: 32px; }
.pad4 { padding: 64px; }

.pad-x1 { padding-right: 16px; padding-left: 16px; }
.pad-x2 { padding-right: 32px; padding-left: 32px; }

.pad4-res { padding: 32px; }
@media screen and (min-width: 640px) {
  .pad4-res { padding: 64px; }
}

.m0 { margin: 0; }
.mt-5 { margin-top: 8px; }

.m1  { margin:        16px; }
.mt1 { margin-top:    16px; }
.mr1 { margin-right:  16px; }
.mb1 { margin-bottom: 16px; }
.ml1 { margin-left:   16px; }

.m2  { margin:        32px; }
.mt2 { margin-top:    32px; }
.mr2 { margin-right:  32px; }
.mb2 { margin-bottom: 32px; }
.ml2 { margin-left:   32px; }

.m4  { margin:        64px; }
.mt4 { margin-top:    64px; }
.mr4 { margin-right:  64px; }
.mb4 { margin-bottom: 64px; }
.ml4 { margin-left:   64px; }

.tappad { 
  line-height: 48px;
  padding: 0 8px;
}

.tappad-small { height: 32px; line-height: 32px; }

.sq32  { width: 32px; height: 32px; }
.sq48  { width: 48px; height: 48px; }
.sq64  { width: 64px; height: 64px; }
.sq96  { width: 96px; height: 96px; }
.sq128 { width: 128px; height: 128px; }

.sq32-text  { text-align: center; line-height: 32px; }
.sq48-text  { text-align: center; line-height: 48px; }
.sq64-text  { text-align: center; line-height: 64px; }
.sq96-text  { text-align: center; line-height: 96px; }
.sq128-text  { text-align: center; line-height: 128px; }

.w100 { width: 100%; }
.hi100 { height: 100%; }

.hi64 { height: 64px; }
.hi96 { height: 96px; }

.min-hi48 { min-height: 48px; }
.max-hi256 { max-height: 256px; }
.max-hi512 { max-height: 512px; }

.progress-thin {
  height: 2px;
  margin-top: 23px;
}

.over-scroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.center { text-align: center; }

.db  { display: block; }
.dib { display: inline-block; }

.fl { float: left; }
.fr { float: right; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.fill {
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
}
 
.top    { top: 0; }
.right  { right: 0; }
.bottom { bottom: 0; }
.left   { left: 0; }

.right1 { right: 16px; }
 
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }


.media, .bd { overflow: hidden; }
.img   { float: left; }

@media screen and (max-width: 512px) {
  .media-fold .bd { clear: both; }
}

.btn { display: inline-block; }

.btn-med {
  line-height: 48px;
  padding: 0 16px;
  border-radius: 4px;
}
.btn-big {
  line-height: 64px;
  padding: 0 16px;
  border-radius: 4px;
}
.btn-sq64 {
  line-height: 64px;
  width: 64px;
  text-align: center;
}
.btn-sq128 {
  line-height: 128px;
  width: 128px;
  text-align: center;
}

.rounded { border-radius: 4px; }
.circle { border-radius: 50%; }

.asp-16o9 {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.asp-3o1 {
  width: 100%;
  height: 0;
  padding-bottom: 33.33%;
}

.grid-1 {
  float: left;
  width: 100%;
}
  @media screen and (min-width: 1024px) {
    .grid-1 { width: 45%; }
    .grid-1:nth-child(2n+1) {
      margin-right: 10%;
      clear: left;
    }
  }



.btn-link {
  color: #fff;
  background-color: #0cf;
}
.btn-link:hover { 
  color: #fff;
  background-color: #0ad;
}
.btn-link:active { box-shadow: inset 0 2px 4px rgba(0,0,0,0.3); }

.btn-red {
  color: #fff;
  background-color: #f60;
}
.btn-red:hover { 
  color: #fff;
  background-color: #d40;
}
.btn-red:active { box-shadow: inset 0 2px 4px rgba(0,0,0,0.3); }

.btn-green {
  color: #fff;
  background-color: #0c5;
}
.btn-green:hover { 
  color: #fff;
  background-color: #0d5;
}
.btn-green:active { box-shadow: inset 0 2px 4px rgba(0,0,0,0.3); }

.btn-dark {
  color: #fff;
  background-color: rgba(0,0,0,.4);
}
.btn-dark:hover {
  color: #fff;
  background-color: rgba(0,0,0,.5);
}

.btn-scale:active { -webkit-transform: scale(.9); }

/* Themes */

.dark-gray     { color: #444; }
.bg-dark-gray  { background-color: #444; }
a.dark-gray:hover { color: #666; }
.link          { color: #0cf; }
.bg-link       { background-color: #0cf; }

.mid-gray      { color: #999; }
.bg-mid-gray   { background-color: #999; }
a.mid-gray:hover { color: #666; }
.light-gray    { color: #eee; }
.bg-light-gray { background-color: #eee; }
.white         { color: #fff; }
a.white:hover  { color: rgba(255,255,255,.8); }
.bg-white      { background-color: #fff; }

.red { color: #f60; }
.bg-red { background-color: #f60; }
.green { color: #0c5; }
.bg-green { background-color: #0c5; }

.text-shadow { text-shadow: 0 1px 2px rgba(0,0,0,.3); }
.shadow-darken { box-shadow: inset 0 -16px 128px rgba(0,0,0,0.8); }

.sc-waveform-whiten { -webkit-filter: contrast(200%); }

.bg-center { background-position: center; background-repeat: no-repeat; }
.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }

.progress {
  -webkit-appearance: none;
}
.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #eee;
}
.progress::-webkit-progress-value { -webkit-appearance: none; }

.progress-gray::-webkit-progress-value { background-color: #999; }
.progress-gray-alt::-webkit-progress-bar { background-color: #ddd; }

.progress-white::-webkit-progress-value { background-color: #fff; }
.progress-white::-webkit-progress-bar { background-color: rgba(255,255,255,.4); }



.progress-link::-webkit-progress-value { background-color: #0cf; }
.progress-green::-webkit-progress-value { background-color: #0c5; }

.progress-white-bg::-webkit-progress-bar {
  background-color: #fff;
}


/* Animations */

@-webkit-keyframes popin {
  0% { -webkit-transform: scale(.2); }
  80% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
} 
.anim-popin { -webkit-animation: popin .1s; }

@-webkit-keyframes spin {
  from  {-webkit-transform: rotate(0deg);}
  to    {-webkit-transform: rotate(360deg);}
}
.anim-spin { -webkit-animation: spin 4s linear infinite; }

@-webkit-keyframes slideleft {
  from  {-webkit-transform: translate3d(100%, 0, 0);}
  to    {-webkit-transform: translate3d(0%, 0, 0);}
}
.anim-slideleft { -webkit-animation: slideleft .2s ease; } 

.anim-hack {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@-webkit-keyframes float-up {
  0%   { opacity: 0; top: 4rem; }
  100% { opacity: 1; top: 0; }
}
 
.float-up {
  opacity: 0;
  position: relative;
  -webkit-animation-name: float-up;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}
 
.anim-delay-1 { -webkit-animation-delay: .1s; }
.anim-delay-2 { -webkit-animation-delay: .2s; }
.anim-delay-3 { -webkit-animation-delay: .3s; }
.anim-delay-4 { -webkit-animation-delay: .4s; }


/* Header Waveform */

.header-waveform {
  /*height: 256px;*/
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 64px;
}

.header-bg {
  background-size: 1600%;
  background-image: url(images/plangular-waveform-3.svg);
  background-position: left center;
  background-repeat: repeat-x;
}

.header-waveform-img {
  display: block;
  /*width: 800%;*/
  height: 128px;
  opacity: 1;
  position: relative;
  -webkit-transition: left linear .2s;
  left: 100%;
}

/* Radicons */

@font-face {
  font-family: 'Radicons';
  src:url('icons/Radicons.eot');
  src:url('icons/Radicons.eot?#iefix') format('embedded-opentype'),
    url('icons/Radicons.woff') format('woff'),
    url('icons/Radicons.ttf') format('truetype'),
    url('icons/Radicons.svg#Radicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'Radicons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.icon-settings, .icon-fast-forward, .icon-skip, .icon-pause,
.icon-play, .icon-previous, .icon-rewind, .icon-heart {
  font-family: 'Radicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.icon-settings:before { content: "\2318"; }
.icon-fast-forward:before { content: "\290f"; }
.icon-skip:before { content: "\2192"; }
.icon-pause:before { content: "\25fc"; }
.icon-play:before { content: "\25b6"; }
.icon-previous:before { content: "\2190"; }
.icon-rewind:before { content: "\290e"; }
.icon-heart:before { content: "\2665"; }

.icon-nudge-right {
  position: relative;
  left: .125em;
}
