// Custom styles for Plangular site

html, body { height: 100%; }
.min-h100 { min-height: 100%; }
.h100 { height: 100%; }
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.waveform {
  width: 100%;
  stroke-width: .25;
  fill: none;
}
.waveform-large {
  height: 75%;
  top: 12.5%;
  stroke: $green;
}
.waveform-small {
  width: 100%;
  stroke: rgba($blue,.2);
  height: 150%;
}
.glow-wrap {
  opacity: 0;
}
@-webkit-keyframes glow {
    0% { opacity: 0; -webkit-transform: scaleY(.2); }
   5% { opacity: .9; -webkit-transform: scaleY(1); }
  100% { opacity: 0; -webkit-transform: scaleY(.2); }
}
@keyframes glow {
    0% { opacity: 0; transform: scaleY(.2); }
   5% { opacity: .9; transform: scaleY(1); }
  100% { opacity: 0; transform: scaleY(.2); }
}
.geo-glow {
  -webkit-animation: glow 6s linear;
          animation: glow 6s linear;
}

//.px8 { padding-right: 8rem; padding-left: 8rem; }
.px8 { padding-right: 20%; padding-left: 20%; }

.button-geo {
  .geo-16 {
    position: relative;
    top: 2px; 
  }
  .geo-24 {
    position: relative;
    top: 4px;
  }
}
.geo-16 { width: 16px; height: 16px; }
.geo-24 { width: 24px; height: 24px; }
.geo-32 { width: 32px; height: 32px; }
.geo-white { fill: #fff; }
.geo-dark-gray { fill: $dark-gray; }

.aspect-16o9 {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.plangular-button {
  text-align: center;
  display: inline-block;
  width: 8em;
  height: 2em;
  line-height: 2em;
  max-width: 100%;
  svg {
    vertical-align: -.125em;
  }
}

.bg-cover { background-size: cover; }
.bg-center { background-position: center; }

.outline, .outline * { outline: 1px solid red; }

.shadow-darken { box-shadow: inset 0 -32px 192px rgba(0,0,0,0.9); }

.progress-thin {
  height: 2px;
  margin-top: 23px;
}

.progress {
  width: 100%;
  -webkit-appearance: none;
}
.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #eee;
}
.progress::-webkit-progress-value { -webkit-appearance: none; }

.progress-gray::-webkit-progress-value { background-color: #999; }
.progress-gray-alt::-webkit-progress-bar { background-color: #ddd; }

.progress-white::-webkit-progress-value { background-color: #fff; }
.progress-white::-webkit-progress-bar { background-color: rgba(255,255,255,.4); }



.progress-link::-webkit-progress-value { background-color: #0cf; }
.progress-green::-webkit-progress-value { background-color: #0c5; }

.progress-white-bg::-webkit-progress-bar {
  background-color: #fff;
}

@-webkit-keyframes popin {
  0% { -webkit-transform: scale(.2); }
  80% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
} 
@keyframes popin {
  0% { transform: scale(.2); }
  80% { transform: scale(1.1); }
  100% { transform: scale(1); }
} 
.anim-popin {
  -webkit-animation: popin .1s;
  animation: popin .1s;
}

