<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plangular</title>
  <meta name="description" content="Create your own custom SoundCloud player with just HTML and CSS. Built with AngularJS">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="../site/style.css"/>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js"></script>
  <script src="../v-plangular.js"></script>

</head>
<body id="vm" class="p2 bg-dark-gray">

  <div v-component="plangular" class="red">
    <pre>Global Player (no v-src attribute)</pre>
    <pre><h1>{{ player.currentTrack.user.username }} - {{ player.currentTrack.title }} </h1></pre>
    <button class="red button button-box" v-on="click: player.playPause(player.i, player.playlistIndex)">
      <span v-if="!player.playing"><svg v-icon="'play'"></svg></span>
      <span v-if="player.playing"><svg v-icon="'pause'"></svg></span>
      Play/Pause
    </button>
    <button class="red button button-box" v-on="click: player.previous()">
      <svg v-icon="'previous'"></svg>
      Previous
    </button>
    <button class="red button button-box" v-on="click: player.next()">
      Next
      <svg v-icon="'next'"></svg>
    </button>
    <progress style="width:100%" v-on="click: player.seek($event)" value="{{ player.currentTime / player.duration || 0 }}">{{ player.currentTime / duration }}</progress>
    <pre>{{ player.currentTime | duration }} / {{ player.duration | duration }} </pre>
    <svg v-icon="'play'"></svg>
    <svg v-icon="'pause'"></svg>
  </div>


  <div v-component="plangular" v-src="'http://soundcloud.com/jxnblk/really-wanna'">
    <h2><a href="#{{ permalink }}" class="red" v-on="click: playPause()"> {{ index }}. {{ user.username }} {{ title }} </a></h2>
    <button v-if="player.playing != track" class="red button button-small button-box" v-on="click: play()">play()</button>
    <button v-if="player.playing == track" class="red button button-small button-box" v-on="click: pause()">pause()</button>
  </div>

  <div v-component="plangular" v-src="'http://soundcloud.com/jxnblk/let-go'">
    <h2><a href="#{{ permalink }}" class="red" v-on="click: playPause()"> {{ index }}. {{ user.username }} {{ title }} </a></h2>
  </div>

  <div class="red" v-component="plangular" v-src="'http://soundcloud.com/jxnblk/sets/yello'">
    <h2>
      <a href="#{{ permalink }}" class="red" v-on="click: playPause()">
        {{ index }}. {{ user.username }} - {{ title }}
      </a>
    </h2>
    <div v-repeat="track: tracks">
      <h3>
        <a href="#{{ track.permalink }}" class="red" v-on="click: playPause($index)">
          {{ track.user.username }} - {{ track.title }}
        </a>
      </h3>
    </div>
  </div>

  <div v-component="plangular" v-src="'http://soundcloud.com/mrsjxn/no-love'">
    <h2><a href="#{{ permalink }}" class="red" v-on="click: playPause()"> {{ index }}. {{ user.username }} {{ title }} </a></h2>
  </div>

<div v-component="plangular" class="red">
<pre class="h4" style="word-wrap:break-word;white-space:pre-wrap">
data:
{{ $data }}
---
{{ player.tracks.length }}
---
{{ player.tracks }}
---
{{ player }}
</pre>
</div>
<script>
  var vm = new Vue({ el: '#vm' });
</script>

</body>
</html>
