/*

    A U T O B A S S Î±

*/
html {
  height: 100%; }

body {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 0.05em;
  margin: 0;
  height: 100%;
  color: #203036;
  background-color: white; }

a {
  font-weight: 500;
  color: #f52; }

button {
  font-size: inherit; }

.nav-item {
  text-decoration: none;
  color: #203036; }
  .nav-item:hover {
    color: #f52; }

h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1em;
  margin-bottom: 0; }
  h1 small {
    font-size: 1rem; }
  h1 a {
    text-decoration: none; }

.h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1em;
  margin-bottom: 0; }

.h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1em;
  margin-bottom: 0; }

.h3 {
  font-size: 1rem; }

p {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 1rem; }

ul {
  font-size: 1.25rem;
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -2rem; }

pre, code, samp, kbd, .monospace {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: scroll; }

small, .h6 {
  font-size: 0.75rem; }

@media (min-width: 40em) {
  h1, .h1 {
    font-size: 3rem; } }

.center {
  text-align: center; }

.nowrap {
  white-space: nowrap; }

.helvetica {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: 0; }

.m0 {
  margin: 0; }

.m1 {
  margin: 1rem; }

.m2 {
  margin: 2rem; }

.mt1 {
  margin-top: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb1 {
  margin-bottom: 1rem; }

.mb4 {
  margin-bottom: 4rem; }

.p1 {
  padding: 0.5rem; }

.p2 {
  padding: 1rem; }

.p3 {
  padding: 2rem; }

.p4 {
  padding: 4rem; }

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.px2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px3 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px4 {
  padding-left: 4rem;
  padding-right: 4rem; }

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.container {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto; }

.full-height {
  min-height: 100%; }

.full-width {
  width: 100%; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.hide {
  display: none; }

.table {
  display: table;
  width: 100%; }

.table-fixed {
  table-layout: fixed; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.absolute-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.oh {
  overflow: hidden; }

@media (min-width: 40em) {
  .desktop-block {
    display: block; }
  .desktop-left {
    float: left; }
  .desktop-right {
    float: right; } }

button, .button {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  text-decoration: none;
  padding: 0.25em 1em;
  display: inline-block;
  color: #f52;
  background-color: transparent;
  border: 0;
  box-shadow: inset 0 0 0 3px #f52;
  border-radius: 3px;
  -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
          transition-property: color, background-color, box-shadow, transform;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer; }
  button:hover, .button:hover {
    color: #203036;
    background-color: #f52;
    box-shadow: inset 0 0 0 3px #f52, 0 0 0 3px rgba(255, 255, 255, 0.75), 0 0 0 5px rgba(255, 85, 34, 0.5);
    -webkit-transform: scale(1.0625);
        -ms-transform: scale(1.0625);
            transform: scale(1.0625); }
  button:focus, .button:focus {
    outline: 0;
    box-shadow: inset 0 0 0 3px #f52, 0 0 0 3px white, 0 0 0 5px rgba(255, 85, 34, 0.5); }
  button:active, .button:active {
    -webkit-transform: scale(0.96875);
        -ms-transform: scale(0.96875);
            transform: scale(0.96875);
    box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.25), 0 0 0 3px white, 0 0 0 5px #f52; }

.button-wide {
  padding: 0.25em 3em; }

.button-circle {
  width: 3em;
  height: 3em;
  line-height: 3em;
  padding: 0;
  border-radius: 50%; }

.button-icon {
  box-shadow: none; }
  .button-icon:hover {
    color: #f52;
    background-color: rgba(0, 0, 0, 0.0625);
    box-shadow: none; }
  .button-icon:focus {
    box-shadow: 0 0 0 3px rgba(255, 85, 34, 0.5); }

progress {
  display: block;
  width: 100%;
  height: 0.5rem;
  margin: 0.75rem 0;
  background-color: rgba(0, 0, 0, 0.125);
  border: 0;
  -webkit-appearance: none;
  cursor: pointer; }
  progress::-webkit-progress-bar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.125); }
  progress::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: #f52; }
  progress::-moz-progress-bar {
    background-color: #f52; }

.plangular-icon {
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1875em;
  top: 0.21875em; }

.plangular-icon-play {
  left: 0.125em; }

.input-readonly {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  padding: 0 0.5em;
  line-height: 2em;
  border: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.125); }

.red {
  color: #f52; }

.dark-gray {
  color: #203036; }

.bg-darken-1 {
  background-color: rgba(0, 0, 0, 0.0625); }

.bg-darken-2 {
  background-color: rgba(0, 0, 0, 0.125); }

.bg-darken-3 {
  background-color: rgba(0, 0, 0, 0.25); }

.bg-red-alpha {
  background-color: rgba(255, 85, 34, 0.125); }

.rounded {
  border-radius: 3px; }

.border {
  box-shadow: inset 0 0 0 2px; }

::-moz-selection {
  background: rgba(255, 85, 34, 0.25); }

::selection {
  background: rgba(255, 85, 34, 0.25); }

.theme-dark-red {
  color: #f52;
  background-color: #203036; }
  .theme-dark-red .button {
    color: #f52;
    box-shadow: inset 0 0 0 3px #f52;
    -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
            transition-property: color, background-color, box-shadow, transform;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    cursor: pointer; }
    .theme-dark-red .button:hover {
      color: #203036;
      background-color: rgba(255, 85, 34, 0.875);
      box-shadow: inset 0 0 0 3px #f52, 0 0 0 3px #203036, 0 0 0 5px rgba(255, 85, 34, 0.5);
      -webkit-transform: scale(1.0625);
          -ms-transform: scale(1.0625);
              transform: scale(1.0625); }
    .theme-dark-red .button:focus {
      outline: 0;
      box-shadow: inset 0 0 0 3px #f52, 0 0 0 3px #203036, 0 0 0 5px rgba(255, 85, 34, 0.5); }
    .theme-dark-red .button:active {
      -webkit-transform: scale(0.96875);
          -ms-transform: scale(0.96875);
              transform: scale(0.96875);
      box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.25), 0 0 0 3px #203036, 0 0 0 5px #f52; }
  .theme-dark-red .nav-item {
    color: #f52; }
    .theme-dark-red .nav-item:hover {
      background-color: rgba(0, 0, 0, 0.0625); }
  .theme-dark-red input::-moz-selection {
    background: rgba(0, 0, 0, 0.125); }
  .theme-dark-red input::selection {
    background: rgba(0, 0, 0, 0.125); }

@-webkit-keyframes flicker-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

  50% {
    opacity: 0.75; }

  62.5% {
    opacity: 0; }

  75% {
    opacity: 1; }

  87.5% {
    opacity: 0.5; }

  100% {
    opacity: 1; } }

@keyframes flicker-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

  50% {
    opacity: 0.75; }

  62.5% {
    opacity: 0; }

  75% {
    opacity: 1; }

  87.5% {
    opacity: 0.5; }

  100% {
    opacity: 1; } }

@-webkit-keyframes flicker-out {
  0% {
    opacity: 1; }

  25% {
    opacity: 0.75; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0.5; }

  100% {
    opacity: 0; } }

@keyframes flicker-out {
  0% {
    opacity: 1; }

  25% {
    opacity: 0.75; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0.5; }

  100% {
    opacity: 0; } }

.vhs-flicker-in {
  opacity: 0;
  -webkit-animation-name: flicker-in;
          animation-name: flicker-in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.vhs-flicker-in-out.v-enter {
  -webkit-animation: flicker-in 0.4s;
          animation: flicker-in 0.4s; }

.vhs-flicker-in-out.v-leave {
  -webkit-animation: flicker-out 0.4s forwards;
          animation: flicker-out 0.4s forwards; }

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.vhs-zoom-in {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation-name: zoom-in;
          animation-name: zoom-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.vhs-fade-in {
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

.vhs-fade-in-out.v-enter {
  -webkit-animation: fade-in 0.2s;
          animation: fade-in 0.2s; }

.vhs-fade-in-out.v-leave {
  -webkit-animation: fade-out 0.2s;
          animation: fade-out 0.2s; }

@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  75% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  75% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.vhs-pop-in {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation-name: pop-in;
          animation-name: pop-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.vhs-delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.vhs-delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.vhs-delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.vhs-delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

@-webkit-keyframes flicker {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes flicker {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.vhs-flicker {
  -webkit-animation-name: flicker;
          animation-name: flicker;
  -webkit-animation-duration: 0.025s;
          animation-duration: 0.025s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.transition-opacity {
  -webkit-transition: opacity 1s linear;
          transition: opacity 1s linear; }

.transition-bg {
  -webkit-transition: background 1s linear;
          transition: background 1s linear; }

/*
 * GitHub style for Pygments
 * Courtesy of GitHub.com
 */
code, pre {
  font-family: 'Source Code Pro', Consolas, Menlo, monospace; }

.hll {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px; }

.c {
  color: #999988;
  font-style: italic; }

.err {
  color: #a61717;
  background-color: #e3d2d2; }

.k {
  font-weight: bold; }

.o {
  font-weight: bold; }

.cm {
  color: #999988;
  font-style: italic; }

.cp {
  color: #999999;
  font-weight: bold; }

.c1 {
  color: #999988;
  font-style: italic; }

.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.gd {
  color: #000000;
  background-color: #ffdddd; }

.gd .x {
  color: #000000;
  background-color: #ffaaaa; }

.ge {
  font-style: italic; }

.gr {
  color: #aa0000; }

.gh {
  color: #999999; }

.gi {
  color: #000000;
  background-color: #ddffdd; }

.gi .x {
  color: #000000;
  background-color: #aaffaa; }

.go {
  color: #888888; }

.gp {
  color: #555555; }

.gs {
  font-weight: bold; }

.gu {
  color: #800080;
  font-weight: bold; }

.gt {
  color: #aa0000; }

.kc {
  font-weight: bold; }

.kd {
  font-weight: bold; }

.kn {
  font-weight: bold; }

.kp {
  font-weight: bold; }

.kr {
  font-weight: bold; }

.kt {
  color: #445588;
  font-weight: bold; }

.m {
  color: #009999; }

.s {
  color: #dd1144; }

.n {
  color: #333333; }

.na {
  color: teal; }

.nb {
  color: #0086b3; }

.nc {
  color: #445588;
  font-weight: bold; }

.no {
  color: teal; }

.ni {
  color: purple; }

.ne {
  color: #990000;
  font-weight: bold; }

.nf {
  color: #990000;
  font-weight: bold; }

.nn {
  color: #555555; }

.nt {
  color: navy; }

.nv {
  color: teal; }

.ow {
  font-weight: bold; }

.w {
  color: #bbbbbb; }

.mf {
  color: #009999; }

.mh {
  color: #009999; }

.mi {
  color: #009999; }

.mo {
  color: #009999; }

.sb {
  color: #dd1144; }

.sc {
  color: #dd1144; }

.sd {
  color: #dd1144; }

.s2 {
  color: #dd1144; }

.se {
  color: #dd1144; }

.sh {
  color: #dd1144; }

.si {
  color: #dd1144; }

.sx {
  color: #dd1144; }

.sr {
  color: #009926; }

.s1 {
  color: #dd1144; }

.ss {
  color: #990073; }

.bp {
  color: #999999; }

.vc {
  color: teal; }

.vg {
  color: teal; }

.vi {
  color: teal; }

.il {
  color: #009999; }

.gc {
  color: #999;
  background-color: #EAF2F5; }
